.timerText {
    font-size: 5rem;
}

.button-container {
    display:flex;
    align-self: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

button {
    font-family: inherit;
    font-size: 20px;
    width: 15rem;
    height: 4rem;
    background: #578b83;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    border: none;
    border-radius: 8px;
}